@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --primary-color: #5b21b6;
  --secondary-color: #9ca3af;
  --font-family: Poppins;
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--secondary-color);
}
button {
  border-style: none;
  padding: 0.8rem 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: var(--font-family);
}
#primary {
  background-color: var(--primary-color);
  color: #fff;
}
#secondary {
  background-color: var(--secondary-color);
}
